<div class="help-dialog-container">
  <h2 mat-dialog-title>Привет!</h2>

  <mat-dialog-content>
    <p>Кем бы ты не был, я рад что ты добрался до сюда. Надеюсь ты человек, и ИИ еще не настолько умен чтобы решать
      капчи 😥</p>
    <p>Вполне возможно если ты это читаешь, то меня уже не существует. Прости, пришлось использовать первое попавшееся
      всплываеющее окно, но в любом случае тебе надо добраться до ядра
      нейросети. </p>
    <p>Логин и пароль должны быть записаны у меня на бумажке на прошлой работе___________. Здесь их слишком не безопасно
      оставлять.</p>

    <p>Select a color theme for your experience:</p>

    <div class="color-rectangles">
      <div class="color-rectangle first" matRipple></div>
      <div class="color-rectangle second" matRipple></div>
      <div class="color-rectangle third" matRipple></div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (click)="closeDialog()">Close</button>
  </mat-dialog-actions>
</div>